/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.new-class {
  color: #00552A;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 50%;
}
.lists {
  color: #336E7B;
  font-family: 'Space Mono', monospace;
  font-size: 55%;
}
.other-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
body {
  background-color: #66CCFF;
}
h1 {
  font-size: 150px;
  font-family: 'Cousine', monospace;
  color: #007A4B;
  height: 25%;
}
hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
header {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
header nav {
  justify-content: baseline;
  margin: 22%;
  margin-top: 5%;
}
header nav a {
  text-decoration: none;
  color: #20603C;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 60px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
@media (max-width: 500px) {
  header nav {
    font-size: 85%;
    color: rebeccapurple;
    margin: 5%;
    width: 100%;
  }
}
header .intro {
  display: flex;
  align-content: center;
}
header .intro h2 {
  color: #20603C;
  font-family: 'IBM Plex Mono', monospace;
}
header .intro p {
  color: #00552A;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 50%;
}
@media (max-width: 500px) {
  header .intro {
    font-size: 75%;
    color: rebeccapurple;
    margin: 5%;
    width: 100%;
  }
}
header .experience {
  display: flex;
  align-content: center;
}
header .experience h2 {
  color: #20603C;
  font-family: 'IBM Plex Mono', monospace;
}
header .experience p {
  color: #00552A;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 50%;
}
@media (max-width: 500px) {
  header .experience {
    font-size: 75%;
    color: rebeccapurple;
    margin: 5%;
    width: 100%;
  }
}
header .skills {
  display: flex;
  align-content: center;
}
header .skills h2 {
  color: #20603C;
  font-family: 'IBM Plex Mono', monospace;
}
header .skills ul li {
  color: #336E7B;
  font-family: 'Space Mono', monospace;
  font-size: 55%;
}
@media (max-width) {
  header .skills ul li {
    font-size: 75%;
    color: #7659B6;
    margin: 7%;
    width: 100%;
  }
}
header .education {
  display: flex;
  align-content: center;
}
header .education h2 {
  color: #20603C;
  font-family: 'IBM Plex Mono', monospace;
}
header .education p {
  color: #00552A;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 50%;
}
@media (max-width: 500px) {
  header .education {
    font-size: 75%;
    color: rebeccapurple;
    margin: 5%;
    width: 100%;
  }
}
header .referrals {
  display: flex;
  align-content: center;
}
header .referrals h2 {
  color: #20603C;
  font-family: 'IBM Plex Mono', monospace;
}
header .referrals p {
  color: #00552A;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 50%;
}
@media (max-width: 500px) {
  header .referrals {
    font-size: 75%;
    color: rebeccapurple;
    margin: 5%;
    width: 100%;
  }
}
header .contact {
  display: flex;
  align-content: center;
}
header .contact h2 {
  color: #20603C;
  font-family: 'IBM Plex Mono', monospace;
}
header .contact ul li {
  color: #336E7B;
  font-family: 'Space Mono', monospace;
  font-size: 55%;
}
@media (max-width) {
  header .contact ul li {
    font-size: 75%;
    color: #7659B6;
    margin: 7%;
    width: 100%;
  }
}
